# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

src/main/java/me/uquark/mcmagic/voice/recognize/ps4j/PS4J.class

src/main/resources/assets/mcmagic/ps4j.tar
